.main-text{
    margin: 0 auto;
    margin-bottom: 2rem;
    padding: 0 .5rem;
    max-width: 500px;
    text-align: center;
    h2{
        color: $grayish-blue;
        font-weight: $font-w-ligth;
        @media screen and (min-width: 1024px) {
            font-size: 30px; 
        }
    }
    h1{
        color:$very-dark-blue;
        @media screen and (min-width: 1024px) {
            font-size: 30px; 
        }
    }
    p{
        color: $grayish-blue;
    }
}