@import "./styles/basic";
@import "./styles/variables";

html{
    font-size: $font-size;
}
body{
    background-color:$very-ligth-gray; 
    font-family: $font;
    font-weight: $font-w-normal;
    min-width: 320px;
}

main{
    margin: 2rem auto;
}


@import "./styles/main-text";
@import "./styles/cards";
@import "./styles/card";
@import "./styles/footer";